{% extends "::base.html.twig" %}

{% block title %}Koszyk{% endblock %}

{% block body %}
    
    <h1>{{ block('title') }}</h1>
    
    <a href='{{ path('product_list') }}'>Lista produktów</a>
    <br><br>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nazwa produktu</th>
                <th>Cena</th>
                <th>Ilość</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for id, product in products %}
                <tr>
                    <td>{{ id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.quantity }}</td>
                    <td><a class='btn btn-danger btn-sm pull-right' href="{{ path('product_remove_form_cart', {'id' : id}) }}">Usuń z koszyka</a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Nie znaleziono produktów.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
